* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#app {
  height: 100%;
  width: 100%;
}

body {
  background: #16161b;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 75px;
  padding: 40px;
}

.container > div > .input {
  min-width: 50%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

.input {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 8px;
  outline: none;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #555;
  font-size: 16px;
  color: #fff;
}

.input-slide {
  width: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.input-slide::after {
  content: "";
  position: absolute;
  background: #fff;
  top: -2px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 250ms;
}

.input:focus + .input-slide::after {
  transform: scaleX(1);
}

.panel-container {
  margin: 0 auto;
  margin-top: 16px;
  width: 50%;
}

.panel {
  width: 100%;
  background: transparent;
  border-left: 3px solid #fff;
  height: 42px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 8px;
  color: #fff;
}

.panel > .btn-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.btn {
  height: 16px;
  width: 16px;
  padding: 8px;
  color: #737373;
}

.btn:hover {
  color: #fff;
}

.text {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding-right: 10px;
}

.marked {
  text-decoration: line-through;
  color: #737373;
}

@media screen and (max-width: 768px) {
  .input-slide {
    width: 100%;
  }

  .container > div > .input {
    min-width: 100%;
  }

  .panel-container {
    width: 100%;
  }
}
