body {
  background-color: #fff;
  font-family: 'Space Mono',monospace;
}

.marked {
  text-decoration: line-through;
}

.button-black {
  font-family: 'Exo 2',sans-serif;
  background-color: black;
  border-color: black;
}

.button-black.button-clear {
  border-color: transparent;
}

.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: black;
}

.button-black.button-clear:hover,
.button-black.button-outline:hover{
  color: #50a586 ;
}

.margin-top-15-per {
  margin-top: 15%;
}

.margin-top-10-px {
  margin-top: 15px;
}

.text-center {
  text-align: center;
}

.list-group {
  max-height: 400px;
  overflow-y: auto;
}

.list-item {
  cursor: pointer;
}

.list-item:hover {
  color: #50a586;
}

input[type='text']:focus {
  border-color: #50a586;
  color: #50a586 !important;
}


a {
  color: #50a586;
  text-decoration: none;
}

a:focus, a:hover {
  color: #50a586;
  text-decoration: underline;
}

button.icon-button{
  margin:0px;
  padding:5px 10px;
  outline:none;
  border:none;
  background:transparent;
  color:#606c76;
}

button.icon-button:hover{
  outline:none;
  border:none;
  background:transparent;
  color:#50a586;
}

button.icon-type:focus{
  outline:none;
  border:none;
  background:transparent;
  color:#50a586;
}
